#rootLayout {
   /* -fx-background-color: #202124*/
    -fx-background-color: #1c1e21;
}

#profilePic {
    -fx-background-radius: 30px;
}

#friendRequestsButton, #profileButton, #logoutButton , #createEventButton {
    -fx-background-color: #1877f2;
    -fx-text-fill: white;
}

#friendRequestsButton:hover{
    -fx-background-color: #165be5;
}

#profileButton:hover {
    -fx-background-color: #165be5;
}

#logoutButton:hover {
    -fx-background-color: #165be5 ;
}

#createEventButton:hover {
    -fx-background-color: #165be5 ;
}

#contactsListScrollPane{
    -fx-background-color: transparent;
}

#contactsListLabel{
    -fx-font-size: 16px;
    -fx-text-fill: rgb(176, 179, 184);

}

#contactsListPane{
    -fx-background-color:#1c1e21 ;
}

#contactView :hover {
    -fx-background-color: rgba(68, 73, 80, 0.15);
}

#suggestionsPopup {
    -fx-pref-width: 500;
    -fx-background-color: #242526;
    -fx-background-radius: 8px;
}

#userResultLabel {
    -fx-pref-width: 500;
    -fx-text-fill: white;
}

#suggestionItem:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

#suggestionItem:focused {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

#homeEventsScrollPane {
    -fx-background-color: transparent;
}

#homeEventsScrollPane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}
#homeEventsScrollPane .scroll-bar:vertical  .track{
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}

#homeEventsScrollPane .scroll-bar:vertical .thumb{
    -fx-background-radius: 2em;

}

#homeEventsScrollPane .scroll-bar:vertical .increment-button,
#homeEventsScrollPane .scroll-bar:vertical .decrement-button{
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 5px 0.0 0.0;
}

#homeEventsScrollPane .scroll-bar:vertical .increment-arrow,
#homeEventsScrollPane .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
}

#homeEventsGridPane {
    -fx-background-color: #1c1e21;
}

